# ==========================================
# FRONTEND (Node/JS) - Đặt trong folder FrontEnd
# ==========================================

# Phụ thuộc và đầu ra của Node
node_modules/
dist/
dist-ssr/
.next/
.nuxt/
out/

# Logs của các Package Manager
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*

# Các file môi trường local
*.local
.env
.env.local
.env.*.local